<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>{{ publicationTitle() }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <ion-list>
      @for (topic of topics(); track topic._id) {
      <ion-item-sliding #slidingItem>
        <ion-item button detail (click)="navigateToArticle(topic)">
          <ion-label>
            <h2>{{ topic.title }}</h2>
            <p>{{ topic.subtitle }}</p>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option
            color="danger"
            (click)="onDeleteArticle(topic, slidingItem)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      }
    </ion-list>

    <ion-toast
      [isOpen]="isToastOpen()"
      message="Article deleted successfully."
      [duration]="2000"
      (didDismiss)="isToastOpen.set(false)"></ion-toast>
  </div>
</ion-content>
