<ion-app>
  <ion-menu side="start" menuId="m1" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>TaalWiz</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      @let user = currentUser();
      <ion-list>
        <ion-list-header>
          <ion-label>
            <h1>{{ user?.name ?? '' }}</h1>
            <h2>{{ user?.email ?? '' }}</h2>
          </ion-label>
        </ion-list-header>
        <ion-menu-toggle menu="m1">
          <ion-item
            detail
            button
            lines="none"
            [routerLink]="'/about/' + user?.lang">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>{{ 'common.about' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        @if (user && user.role !== 'demo') {
        <ion-menu-toggle menu="m1">
          <ion-item
            detail
            button
            lines="none"
            routerLink="/auth/change-password">
            <ion-icon slot="start" name="shield-half-outline"></ion-icon>
            <ion-label>{{ 'auth.change-password' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        }
        <ion-menu-toggle menu="m1">
          <ion-item detail button lines="none" routerLink="/contact">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label>{{ 'user.contact' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item button lines="none" (click)="reload()">
            <ion-icon slot="start" name="reload-outline"></ion-icon>
            <ion-label>{{ 'common.reload' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item button lines="none" (click)="onLogout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>{{ 'auth.logout' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        @if (user?.role === 'admin') {
        <ion-list-header>
          <ion-label><h2>Administrator Only</h2></ion-label>
        </ion-list-header>
        <ion-menu-toggle menu="m1">
          <ion-item detail button lines="none" routerLink="admin">
            <ion-icon slot="start" name="rocket-outline"></ion-icon>
            <ion-label>Administrative Tasks</ion-label>
          </ion-item>
        </ion-menu-toggle>
        }
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
