<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    @if (article()) {
    <ion-title>{{ article().title }}</ion-title>
    }
    @if (headings().length > 0) {
    <ion-buttons slot="end">
      <ion-menu-button menu="toc-menu" auto-hide="false">
        <ion-icon name="list-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container noselect">
    @if (article()) {
    <app-article-body
      [article]="article()"
      (clicked)="onClicked($event)"></app-article-body>
    }
  </div>
</ion-content>
