<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>Manage Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    @if (!topics().length) {
    <div class="ion-text-center">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    }
    <ion-list class="ion-padding-vertical">
      @for (topic of topics(); track topic._id) {
      <ion-item button detail (click)="navigateToArticles(topic)">
        @if (topic.image) {
        <ion-thumbnail slot="start">
          <ion-img [src]="'/assets/images/' + topic.image"></ion-img>
        </ion-thumbnail>
        }
        <ion-label>
          <h2>{{ topic.title }}</h2>
          @if (topic.author) {
          <h3>{{ topic.author }}</h3>
          } @if (topic.subtitle) {
          <p>{{ topic.subtitle }}</p>
          }
        </ion-label>
      </ion-item>
      }
    </ion-list>
  </div>
</ion-content>
