<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>
      <div>Set Password</div>
      <div class="email-subtitle">{{ email() }}</div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="newPassword().length < minLength"
        (click)="save()"
      >
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input
        type="password"
        label="New password"
        labelPlacement="floating"
        [placeholder]="'Min ' + minLength + ' characters'"
        [ngModel]="newPassword()"
        (ngModelChange)="newPassword.set($event)"
      >
        @if (newPassword()) {
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        }
      </ion-input>
    </ion-item>
  </ion-list>
</ion-content>
