<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="content">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>{{ 'common.library' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dictionary">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>{{ 'common.dictionary' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="hashtags">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Hashtags</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
