<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Upload Content</ion-title>
    @if (isUploading()) {
    <ion-progress-bar color="dark" [value]="progress()"></ion-progress-bar>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <div
          [ngClass]="{'nv-file-over': isDragOver()}"
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)"
          class="well">
          Drag files here
        </div>
        <input
          type="file"
          multiple
          accept=".md,.json,.jpg,.jpeg,.png,.gif,.webp"
          title="Select files to upload"
          (change)="onFileSelect($event)" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <h3>Upload queue</h3>
        <p>Queue length: {{ items().length }}</p>
      </ion-col>
    </ion-row>
    @if (items().length) {
    <ion-row>
      <ion-col size="6" size-sm="4" offset-sm="2">Name</ion-col>
      <ion-col size="3" size-sm="2" class="ion-text-center">Size</ion-col>
      <ion-col size="3" size-sm="2" class="ion-text-center">Status</ion-col>
    </ion-row>
    } @for(item of items(); track item.file) {
    <ion-row>
      <ion-col size="6" size-sm="4" offset-sm="2">{{ item.file.name }}</ion-col>
      <ion-col size="3" size-sm="2" class="ion-text-center">
        {{ item.file.size/1024 | number: '.1-1' }} KB
      </ion-col>
      <ion-col size="3" size-sm="2" class="ion-text-center">
        @if (item.status === 'success') {
        <ion-icon name="checkmark-outline" color="success"></ion-icon>
        } @else if (item.status === 'cancelled') {
        <ion-icon name="alert-outline" color="warning"></ion-icon>
        } @else if (item.status === 'error') {
        <ion-icon name="close-outline" color="danger"></ion-icon>
        }
      </ion-col>
    </ion-row>
    }
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-toolbar>
          <ion-buttons>
            <ion-button
              color="primary"
              (click)="uploadAll()"
              [disabled]="!items().length || isUploading()">
              Upload All
            </ion-button>
            <ion-button
              color="danger"
              (click)="cancelAll()"
              [disabled]="!isUploading()">
              Cancel All
            </ion-button>
            <ion-button
              color="warning"
              (click)="clearQueue()"
              [disabled]="!items().length || isUploading()">
              Clear Queue
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
