<div style="position: relative">
  <div class="dropdown-anchor" [hidden]="!showSearches()">
    <ion-list class="dropdown-list" role="listbox" aria-label="Search suggestions">
      @for (suggestion of suggestions(); track suggestion.key) {
      <ion-item button role="option" aria-selected="false" (click)="itemClicked.emit(suggestion)">
        <ion-label
          [ngClass]="{
            'foreign-text': suggestion.lang === 'id' && !suggestion.teeuwPlus,
            'new-text': suggestion.lang === 'id' && suggestion.teeuwPlus,
            'native-text': suggestion.lang !== 'id'
          }">
          {{ suggestion.word }}
        </ion-label>
      </ion-item>
      }
    </ion-list>
  </div>
</div>
