<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>{{ 'auth.change-password' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-list lines="none">
              <ion-item>
                <ion-input
                  type="password"
                  [label]="'auth.current-password' | translate"
                  labelPlacement="floating"
                  [errorText]="'auth.password-invalid' | translate"
                  [ngModel]="password()"
                  (ngModelChange)="password.set($event)"
                  name="password"
                  required
                  [minlength]="minLength">
                  @if (password()) {
                  <ion-input-password-toggle
                    slot="end"></ion-input-password-toggle>
                  }
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  type="password"
                  [label]="'auth.new-password' | translate"
                  labelPlacement="floating"
                  [errorText]="'auth.password-invalid' | translate"
                  [ngModel]="newPassword()"
                  (ngModelChange)="newPassword.set($event)"
                  name="newPassword"
                  required
                  [minlength]="minLength">
                  @if (newPassword()) {
                  <ion-input-password-toggle
                    slot="end"></ion-input-password-toggle>
                  }
                </ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-button
              type="submit"
              color="primary"
              expand="block"
              [disabled]="f.invalid">
              {{ 'auth.change-password' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    @if (isLoading()) {
    <div class="ion-text-center">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    }
  </div>
</ion-content>
